@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background: #edf0f2;
}

#app{
    padding: 25px;
    text-align: center;
    margin-top: 50px;
}

.form h1{
    font-size: 50px;
    margin-bottom: 40px;
}

.form h1 span{
    color: #43bc70;
}

 .form .tarefa{
     width: 100%;
     max-width: 270px;
     padding: 8px 30px;
     font-size: 16px;
     border: 1px solid #43bc70;
     border-radius: 3px;
 }

 .form .btnAdd{
     background: #43bc70;
     padding: 8px 12px;
     font-size: 16px;
     cursor: pointer;
     color: #fff;
     border: 0;
     border-radius: 3px;
     outline: none;
 }

.form .btnAdd:hover{
    opacity: 0.8;
}

#tarefas{
    width: 80%;
    max-width: 380px;
    margin: 0 auto;
}

#tarefas h1{
    font-size: 40px;
    margin-top: 50px;
    line-height: 70px;
}

#tarefas li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background: #fff;
    border: 1px solid rgb(153, 154, 156);
    list-style: none;
}

#tarefas .btnRemove{
    padding: 5px;
    background: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.btnRemove:hover{
    opacity: 80%;
}

@media(max-width: 362px){
    .form .btnAdd{
        width: 80%;
        margin-top: 3px;
    }
}