@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background: #edf0f2;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.form {
    width: 100%;
}

.form h1{
    font-size: 50px;
    margin-bottom: 40px;
    
}

.form h1 span{
    color: #43bc70;
}

.form .txtInputTask{
     max-width: 350px;
     padding: 8px 16px;
     font-size: 16px;
     border: 1px solid #43bc70;
     border-radius: 3px;
     outline: none;
 }

.form .btnAddTask{
     background: #43bc70;
     padding: 8px 12px;
     font-size: 16px;
     cursor: pointer;
     color: #fff;
     border: 0;
     border-radius: 3px;
     outline: none;
 }

.form .btnAddTask:hover{
    opacity: 0.8;
}

#tasks {
    width: 100%;
}

#tasks ul {
    margin: 30px auto;
    width: 335px;
}

#tasks li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 8px 20px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 2px 2px 2px 1px #43bc70;
    list-style: none;
}

.no-tasks-icon{
    max-width: 335px;
    margin-top: 50px;
}

.no-tasks h2 {
    color: #38365e;

    margin-bottom: 15px;
}

.no-tasks.hidden {
    visibility: hidden;
    height: 0;
}

.btnRemove{
    background: #fff;
    color: #ff0000;
    border: none;
    cursor: pointer;
    outline: none;
}

.btnRemove .fa-times-circle {
    font-size: 25px;
    border-radius: 50%;
    transition: all ease .5s;
}

.btnRemove .fa-times-circle:hover {
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
}

@media(max-width: 375px) {
    #tasks ul {
        width: 85%;
    }
}